.CardItem {
    width: 30%;
    padding: 30px 0;
    overflow: hidden;
    background: linear-gradient(180deg, #371046 0%, #5a3d66 100%);
    border-radius: 10px;
    position: relative;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 60px;
    box-shadow: 0 0 6px #1bf00833;
    background-color: #fff;
    border: 1px solid #371046;
    border-radius: 10px;
}

.Header {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border-radius: 25px;
}

.ItemHeader {
    display: flex;
    justify-content: center;
    color:  #15e215;
}

.Info {
    font-size: 14px;
    display: flex;
    justify-content: space-around;
    color: #fff;
    padding: 10px;
}
.ItemImg {
    width: 80%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}

.ItemFooter {
    display: flex;
    justify-content: center;
}

.btn{
    display: block;
    background: linear-gradient(180deg, #15e215 0%, #207e20 100%);
    border-radius: 6px;
    text-decoration: none;
    width: 80%;
    color: #371046;
    font-weight: 700;
    text-align: center;
    padding: 12px 0;
    margin: 15px 20px;
}