.NavBar{
    background-color: #371046;
    height: 97px;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:10px;
}

.title{
    font-size: 20px;
    font-weight: 300;
    color: #fff;
}

.categories{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

