.NavBar{
    background-color: #371046;
    height: 97px;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
}

.categories{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

